<footer class="gh-foot">
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>
